# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# cduck
*.cyberducksegment

# Jupyter Notebook
**/.ipynb_checkpoints

# MEG data
data/**/*fif
# Stim data
data/**/*hdf5